# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs
*.log

# Dependency directories
bin/
lib/
include/

# Local configuration file
config.ini